# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yc\Downloads\quickstart-jakarta-ee-guides-master\quickstart-jakarta-ee-guides-master\BriefHibernate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
